{% extends 'index_translation.html' %}
 
{% block content1 %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <label for="exampleFormControlFile1">Seleciona o ficheiro Cooperative a adicionar!</label>
            <form action="" method="POST" class="form-group" class="form-control-file" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
            <br>
        </div>
    </div>

<div class="col-md">
    <div class="card card-body">
        <h5>Total Cooperativas</h5>
        <hr>
        <h3 style="text-align: center;padding: 2px">{{cooperative_count}}</h3>
    </div>
</div>
</div>

 
 <br>

 <div class="row">
     <div class="col-md">
        <!-- <div class="card card-body">
            <form method="get">
                <div class="form-row">
                    <div class="form-group col-ms-8">
                        <label>Cooperativa</label>
                        {{myFilter.form.cooperative}}
                        <button class="btn btn-primary col-ms-2" type="submit">Pesquisar</button>
                    </div>
   
                </div>
            </form>
        </div> -->
         <div class="card card-body">
            <table id="dtindex_cooperative" class="display" style="width:100%">
                <thead>
                 <tr>
                     <th>Cooperativa</th>
                 </tr>
                </thead>
                <tbody>
                 {% for i in cooperative %}
                     <tr>
                         <td>{{i.cooperative}}</td>
                     </tr>
                 {% endfor %}
                </tbody>
             </table>
         </div>
     </div>
     
 </div>
{% endblock content1 %}

