{% extends 'index_translation.html' %}
 
{% block content1 %}
<br>
<div class="row">
    <div class="col-md">
        <div id="alert-box"></div>
        <div class="card card-body">
            <label for="exampleFormControlFile1">Seleciona o ficheiro Gestor a adicionar!</label>
            <form id="upload-form" action="" method="POST" class="form-group" class="form-control-file" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <!-- <button type="submit" class="btn btn-primary">Confirmar</button> -->
            </form>
            <br>
            <div id="progress-bar" class="d-none"></div>
        </div>
    </div>

<div class="col-md">
    <div class="card card-body">
        <h5>Total Gestores</h5>
        <hr>
        <h3 style="text-align: center;padding: 2px">{{manager_count}}</h3>
    </div>
</div>
</div>

 
 <br>

 <div class="row">
     <div class="col-md">
         <div class="card card-body">
            <table id="dtindex_cooperative" class="display" style="width:100%">
                <thead>
                 <tr>
                     <th>Gestor</th>
                     <th>Abreviado</th>
                 </tr>
                </thead>
                <tbody>
                 {% for i in manager %}
                     <tr>
                         <td>{{i.operator}}</td>
                         <td>{{i.abbreviated}}</td>
                     </tr>
                 {% endfor %}
                </tbody>
             </table>
         </div>
     </div>
     
 </div>
{% endblock content1 %}

