{% extends 'index_translation.html' %}
 
{% block content1 %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <label for="exampleFormControlFile1">Seleciona o ficheiro Routa a adicionar!</label>
            <form action="" method="POST" class="form-group" class="form-control-file" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-primary col-md-2">Confirmar</button>
            </form>
        </div>
     
    </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">

            <form method="get">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Routa</label>
                        {{myFilter.form.routa}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Via</label>
                        {{myFilter.form.via}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Corridor</label>
                        {{myFilter.form.corridor}}
                    </div>
                        <button class="btn btn-primary col-md-2" type="submit">Pesquisar</button>     
                </div>
            </form>

        </div>
    </div>

</div>

 <br>

 <div class="row">
     <div class="col-md">
         <div class="card card-body">
             <h5>Routa</h5>
         </div>
         <div class="card card-body">
             <table class="table">
                 <tr>
                     <th>Routa</th>
                     <th>Nome da Via</th>
                     <th>Corridor</th>
                 </tr>

                 {% for i in routa %}
                     <tr>
                         <td>{{i.routa}}</td>
                         <td>{{i.via}}</td>
                         <td>{{i.corridor.corridor}}</td>
                     </tr>
                 {% endfor %}
                 
             </table>
         </div>
     </div>
     
 </div>
{% endblock content1 %}

