{% load static %}

<!DOCTYPE html>
<html lang="pt"></html>
<html>
<head>
	<title>AMT</title>
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
	
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<script src="{% static '/js/main.js' %}" defer> </script>


	<script src="https://code.jquery.com/jquery-3.1.1.min.js">

	// <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

</head>
<body>
	{%  include 'navbar.html' %}
	<div class="container-fluid">
	{% block content %}



	{% endblock %}
    </div>
	{%  include 'footer.html' %}
	
</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->



<script>
	$(document).ready(function () {
		$('#dtoperator_spz_count').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });

	  $(document).ready(function () {
		$('#dtcsv').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });

	  $(document).ready(function () {
		$('#dtcapacity').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });

	  $(document).ready(function () {
		$('#dtconductor').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });

	  $(document).ready(function () {
		$('#dtcorridor').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });

	  $(document).ready(function () {
		$('#dtpassenger').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });

	  $(document).ready(function () {
		$('#dtsettlement_file').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });



	  $(document).ready(function () {
		$('#dtindex_cooperative').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });
	  $(document).ready(function () {
		$('#dtindex_corridor').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });
	  $(document).ready(function () {
		$('#dtindex_routa').DataTable();
		$('.dataTables_length').addClass('bs-select');
	  });
</script>

</html>