{% load static %}


<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

  .smallLogo {
    height: 45px;
    border-radius: 50%;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'csvs:home-view' %}"><img class="smallLogo"
            src="{% static 'images/logo.png' %}"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'capacity-view' %}">Capacity Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'conductor-view' %}">Conductor Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'corridor-view' %}">Corridor Performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'passenger-view' %}">Passenger and Trip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'settlement_file-view' %}">Settlement File</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_cooperative-view' %}">Index Translation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'csvs:admin_register-view' %}">Usuário</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="">Settings</a>
      </li>
      {% endif %}
    </ul>

    &emsp;
    &emsp;
    &emsp;
    &emsp;
    <div class="dropdown">
      <img class="smallLogo dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" src="{{request.user.profileUser.profile_pic.url}}">
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'csvs:profile-view' %}">Perfil</a>
        <a class="dropdown-item" href="{% url 'csvs:logout-view' %}">Logout</a>
      </div>
    </div>

  </div>
</nav>