{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

  .smallLogo{
    height: 45px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img class="smallLogo" src="{% static 'images/logo.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'csvs:home-view' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'capacity-view' %}">Capacity Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'conductor-view' %}">Conductor Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'corridor-view' %}">Corridor Performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'passenger-view' %}">Passenger and Trip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'settlement_file-view' %}">Settlement File</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_cooperative-view' %}">Index Translation</a>
      </li>
      {% else %}
       <li class="nav-item">
        <a class="nav-link" href="">Settings</a>
      </li>
      {% endif %}
    </ul>
  </div>

  <span class="hello-msg">Hello, {{request.user}}</span>
  <span class="hello-msg"><a class="hello-msg" href="{% url 'csvs:profile-view' %}">Settings</a></span>
  <span ><a  class="hello-msg" href="{% url 'csvs:logout-view' %}">Logout</a></span>

</nav>