{% extends 'main.html' %}

{% block content %}

<style>
	.profile-pic {
		max-width: 200px;
		max-height: 200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'csvs:home-view' %}"> &#8592; Voltar ao perfil</a>
			<hr>
			<h3 style="text-align: center">Usuário Administrador</h3>
			<hr>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-body">
			<div class="d-flex  form_container">
				<form method="POST" action="">
					{% csrf_token %}
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						{{form.username}}
					</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
						</div>
						{{form.email}}
					</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{form.password1}}
					</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{form.password2}}
					</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-people-fill" viewBox="0 0 16 16">
									<path
										d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
									<path fill-rule="evenodd"
										d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
									<path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
								</svg>
							</span>
						</div>
						{{ form1.group }}
					</div>

					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn btn-primary" type="submit" value="Registar Conta">
					</div>
				</form>
			</div>
			{{form.errors}}
			<br>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card card-body">
			<table data-order='[[ 0, "desc" ]]' id="dtcapacity" class="display" style="width:100%">
				<thead>
					<tr>
						<th>Nome</th>
						<th>username</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					{% for i in user %}
					<tr>
						<td>{{i.profileUser.name}}</td>
						<td>{{i.username}}</td>
						<td>{{i.email}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder = 'Usuário';
	form_fields[2].placeholder = 'Email..';
	form_fields[3].placeholder = 'Digite a senha...';
	form_fields[4].placeholder = 'Confirme a senha...';

	for (var field in form_fields) {
		form_fields[field].className += ' form-control'
	}
</script>
{% endblock %}