{%  extends 'main.html' %}
{% load static %}
{% block content %}

{%  include 'status.html' %}

<br>

<div class="row">
	<div class="col-md-6">
		<h5>COOPERATIVAS:</h5>
		<hr>
		<div class="card card-body">
			<table id="dtoperator_spz_count" class="display" style="width:100%">
				<thead>
					<th>Cooperativa</th>
					<th>Gestor</th>
					<th>Nº de Autocarros</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for i in assign_count %}
					<tr>
						<td>{{i.cooperativeR}}</td>
						<td>{{i.managerR}}</td>
						<td>{{i.spz_count}}</td>
						<td><a class="btn btn-sm btn-info" href="">Visualizar</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>

	<div class="col-md-6">
		<h5>FICHEIROS:</h5>
		<hr>
		<div class="card card-body">
			<table data-order='[[ 0, "desc" ]]' id="dtcsv" class="display" style="width:100%">
				<thead>
				<tr>
					<th>Date</th>
					<th>Name</th>
					<th>Nº de Linhas</th>
					<th>Tomanho</th>
				</tr>
				</thead>
				{% for i in csv %}
					<tr>
						<td>{{i.uploaded}}</td>
						<td>{{i.name}}</td>
						<td>{{i.file_row}}</td>
						<td>{{i.filesize}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}


