{% extends 'base.html' %}
{% block title %}Home Portal{% endblock %}

{% block content %}
<div id="content">
    <div id="intro">
    {% if request.user.is_authenticated %} 
        <p>Oi! {{ user.first_name }} {{ user.last_name }}.</p>
        <p>Por favor, seleciona segundo o menu o tipo de documento que deseja gravar na base de dados.</p>
     {% else %}
        <p>Bem-vindo à API AMT.</p>
        <p>A API foi criada para permitir que você crie um aplicativo ou integração funcional de maneira rápida e fácil.
            Sabemos por experiência - essas são as APIs que alimentam o aplicativo Famba.
            O ecossistema de desenvolvedores que criam integrações em cima das APIs é forte e diversificado, variando de provedores de webinars a CRMs e mídias sociais.</p>

        <p>Todas as APIs da AMT são organizadas em torno do REST - se você já interagiu com uma API REST, muitos dos conceitos serão familiares para você.
            Todas as chamadas de API para o Famba devem ser feitas para o domínio base <a>https://apiamt.herokuapp.com</a>.
            Usamos muitos recursos HTTP padrão, como verbos HTTP, que podem ser entendidos por muitos clientes HTTP.
            JSON será retornado em todas as respostas, incluindo erros.
            As APIs são projetadas para ter URLs previsíveis e diretas e para usar códigos de resposta HTTP para indicar erros de API.</p>
     {% endif %}
    </div> 
   </div>
{% endblock content %}

