{% load static %}

{% block html %}
<!DOCTYPE html>
<html dir="ltr" lang="pt">
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Abel Marquele">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <title>AMT - Admin dashboard</title>
    <!-- Custom CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
</head>
{% endblock head %}

{% block body %}
<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css' %} -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css' %} -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                <div>
                    <div class="text-center p-t-20 p-b-20">
                        <span class="db"><img src="{% static 'images/logo.png' %}" alt="logo" /></span>
                    </div>
                    <!-- Form -->
                    <form method="POST" class="form-horizontal m-t-20" action="">
                        {% csrf_token %}
                        <div class="row p-b-30">
                            <div class="col-12">                              
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
									</div>
                                    {{form.new_password1}}
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-info text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    {{form.new_password2}}
                                </div>
                            </div>
                        </div>
						{{form.errors}}
                        <div class="row border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="p-t-20">
                                        <button class="btn btn-block btn-lg btn-success" type="submit">Atualizar senha</button>
                                    </div>
                                    <div class="p-t-20 link text-white float-right">
                                        Deseja cancelar? <a href="{% url 'csvs:login-view' %}" class="ml-2">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    {% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <!-- <script src="{% static 'js/popper.js' %}/dist/umd/popper.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
		$('[data-toggle="tooltip"]').tooltip();
		$(".preloader").fadeOut();
	
		var form_fields = document.getElementsByTagName('input')
			form_fields[1].placeholder = 'Digite a senha...';
			form_fields[2].placeholder = 'Confirme a senha...';
	
	
			for (var field in form_fields) {
				form_fields[field].className += ' form-control'
			}
	</script>
    {% endblock script %}
</body>
{% endblock body %}




</html>
{% endblock html %}