<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-primary mb-3" style="max-width: 18rem;">
			  	<div class="card-header">
			  		<h6 class="card-title">Capacity Summary</h6>
			  	</div>
			  	<div class="card-body">
			    	<h4 class="card-title">{{capacity_count}}</h4>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  bg-secondary mb-3" style="max-width: 18rem;">
			  	<div class="card-header">
			  		<h6 class="card-title">Conductor Sales</h6>
			  	</div>
			  	<div class="card-body">
			    	<h4 class="card-title">{{conductor_count}}</h4>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  bg-success mb-3" style="max-width: 18rem;">
			  	<div class="card-header">
			  		<h6 class="card-title">Corridor Performance</h6>
			  	</div>
			  	<div class="card-body">
			    	<h4 class="card-title">{{corridor_count}}</h4>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  bg-danger mb-3" style="max-width: 18rem;">
			  	<div class="card-header">
			  		<h6 class="card-title">Passenger and Trip</h6>
			  	</div>
			  	<div class="card-body">
			    	<h4 class="card-title">{{passenger_count}}</h4>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  bg-warning mb-3" style="max-width: 18rem;">
			  	<div class="card-header">
			  		<h6 class="card-title">Settlement File</h6>
			  	</div>
			  	<div class="card-body">
			    	<h4 class="card-title">{{settlement_file_count}}</h4>
			  	</div>
			</div>
		</div>
	</div>
</div>