{% extends 'main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Settlement File</h5>
        </div>
        <div id="alert-box"></div>
        <div class="card card-body">
            <label for="exampleFormControlFile1">Seleciona o ficheiro Settlement File a adicionar!</label>
            <form action="" method="POST" class="form-group" class="form-control-file" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
            </form>
            <br>
            <div id="progress-bar" class="d-none"></div>
        </div>
     
    </div>
</div>

 <br>

 <div class="row">
     <div class="col-md">
         <div class="card card-body">
            <table data-order='[[ 0, "desc" ]]' id="dtsettlement_file" class="display" style="width:100%">
                <thead>
                 <tr>
                     <th>Cooperativa</th>
                     <th>Gestor</th>
                     <th>Receita da Cooperativa</th>
                 </tr>
                </thead>
                <tbody>
                 {% for i in settlement_file %}
                     <tr>
                         <td>{{i.cooperatives}}</td>
                         <td>{{i.carrier_name}}</td>
                         <td>{{i.money_value3}}</td>
                     </tr>
                 {% endfor %}
                </tbody>
             </table>
         </div>
     </div>
     
 </div>
{% endblock content %}