{% extends 'main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <label for="exampleFormControlFile1">Seleciona o ficheiro Settlement File a adicionar!</label>
            <form action="" method="POST" class="form-group" class="form-control-file" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-primary col-md-1">Confirmar</button>
            </form>
        </div>
     
    </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">

            <form method="get">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>Cooperativa</label>
                        {{myFilter.form.cooperatives}}
                    </div>
                    <div class="form-group col-md-2">
                        <label>Gestor</label>
                        {{myFilter.form.carrier_name}}
                    </div>
                        <button class="btn btn-primary col-md-1" type="submit">Pesquisar</button>     
                </div>
            </form>

        </div>
    </div>

</div>
 
 <br>

 <div class="row">
     <div class="col-md">
         <div class="card card-body">
             <h5>Settlement File</h5>
         </div>
         <div class="card card-body">
             <table class="table">
                 <tr>
                     <th>Cooperativa</th>
                     <th>Gestor</th>
                     <th>Receita da Cooperativa</th>
                 </tr>

                 {% for i in settlement_file %}
                     <tr>
                         <td>{{i.cooperatives}}</td>
                         <td>{{i.carrier_name}}</td>
                         <td>{{i.money_value3}}</td>
                     </tr>
                 {% endfor %}
                 
             </table>
         </div>
     </div>
     
 </div>
{% endblock content %}