{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Gestor: {{assign_bus_name.manager.operator}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'csvs:user_register-view' assign_bus_name.manager.id %}">Adicionar Usuário</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'csvs:user_profile-view' assign_bus_name.manager.user.id %}">Adicionar Perfil</a>

		</div>
	</div>
	{{django.contrib.auth.models.User.profile.RelatedObjectDoesNotExist}}
	<div class="col-md">
		<div class="card card-body">
			<h5>Informações de contato</h5>
			<hr>
			<p>Email: {{profiles.emails}}</p>
			<p>Telefone: {{profiles.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total de Autocarros</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{assign_bus_count}}</h1>
		</div>
	</div>
</div>


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Matrícula</th>
					<th>Marca</th>
					<th>Remove</th>
				</tr>

				{% for i in assign_bus %}

				<tr>
					<td>{{i.bus.spz}}</td>
					<td>{{i.bus.brand}}</td>
					<td><a class="btn btn-sm btn-danger" href="">Remover</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}